site_name: "Vlab @ USTC"
site_description: "Vlab 实验平台使用文档"
site_author: 'USTC Vlab'
site_url: 'https://vlab.ustc.edu.cn/docs/'

# Repository
repo_name: 'USTC-vlab/docs'
repo_url: 'https://github.com/USTC-vlab/docs'

# Copyright
copyright: 'Brought to you by Vlab and <a href="https://lug.ustc.edu.cn/">USTCLUG</a>. Available under the <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a> license.'

# Configuration
theme:
  name: 'material'
  language: 'zh'
  palette:
    - scheme: default
      media: "(prefers-color-scheme: light)"
      primary: blue
      accent: blue
      toggle:
        icon: material/toggle-switch-off-outline
        name: 切换至深色模式
    - scheme: slate
      media: "(prefers-color-scheme: dark)"
      primary: light blue
      accent: light blue
      toggle:
        icon: material/toggle-switch
        name: 切换至浅色模式
  icon:
    logo: fontawesome/solid/desktop
    repo: octicons/mark-github-16
  features:
    - content.code.copy
    - navigation.footer
    - navigation.sections

# Customization
extra:
  social:
    - icon: octicons/globe-16
      link: 'https://vlab.ustc.edu.cn/'
    - icon: octicons/mark-github-16
      link: 'https://github.com/USTC-vlab'
  analytics:
    provider: google
    property: 'UA-115907213-3'

extra_css:
  - assets/css/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - codehilite
  - footnotes
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.mark
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences
  - markdown.extensions.def_list
  - toc:
      permalink: true

nav:
  - 简介: index.md
  - 快速开始: quickstart.md
  - 虚拟机:
    - 虚拟机管理: web.md
    - 虚拟机登录:
      - 浏览器直接登录: login/browser.md
      - VNC 远程桌面登录: login/vnc.md
      - SSH 命令行登录: login/ssh.md
      - RDP 远程桌面登录: login/rdp.md
  - 文件传输:
    - 浏览器文件传输: file/filestash.md
    - 使用文件客户端: file/clients.md
  - 应用程序:
    - 在线 VSCode: apps/vscode.md
    - RISC-V 工具链: apps/riscv.md
  - 其他:
    - 常见问题: faq.md
    - 高级信息:
      - 系统资源: advanced/resources.md
      - 虚拟机镜像: advanced/images.md
      - 手动安装桌面环境: advanced/install-desktop.md
    - 条款:
      - 服务条款: terms/terms-of-service.md
      - 可接受的使用方式: terms/acceptable-use-policy.md
    - 资源下载: downloads.md
    - 致谢: credits.md
    - 招新: recruit.md
    - Git 简明教程: tutorial/git.md
